################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hobby-game/.vs
/Library
/Temp
/UserSettings
/obj/Debug
/.vsconfig
/Logs
